In [17]:
from pinecone import Pinecone, ServerlessSpec
from pinecone_datasets import list_datasets, load_dataset
from constants import PINECONE_API_KEY

In [15]:
# from datasets import DATASETS
list_datasets()

['ANN_DEEP1B_d96_angular',
 'ANN_Fashion-MNIST_d784_euclidean',
 'ANN_GIST_d960_euclidean',
 'ANN_GloVe_d100_angular',
 'ANN_GloVe_d200_angular',
 'ANN_GloVe_d25_angular',
 'ANN_GloVe_d50_angular',
 'ANN_LastFM_d64_angular',
 'ANN_MNIST_d784_euclidean',
 'ANN_NYTimes_d256_angular',
 'ANN_SIFT1M_d128_euclidean',
 'amazon_toys_quora_all-MiniLM-L6-bm25',
 'it-threat-data-test',
 'it-threat-data-train',
 'langchain-python-docs-text-embedding-ada-002',
 'movielens-user-ratings',
 'msmarco-v1-bm25-allMiniLML6V2',
 'quora_all-MiniLM-L6-bm25-100K',
 'quora_all-MiniLM-L6-bm25',
 'quora_all-MiniLM-L6-v2_Splade-100K',
 'quora_all-MiniLM-L6-v2_Splade',
 'squad-text-embedding-ada-002',
 'wikipedia-simple-text-embedding-ada-002-100K',
 'wikipedia-simple-text-embedding-ada-002',
 'youtube-transcripts-text-embedding-ada-002']

In [18]:
glove100_dataset = load_dataset("ANN_GloVe_d100_angular")
glove100_dataset.head()

,id,values,sparse_values,metadata,blob
0,0,"[-0.11332999914884567, 0.4840199947357178, 0.0...",None,None,None
1,1,"[-0.9954400062561035, -2.3650999069213867, -0....",None,None,None
2,2,"[-0.1018500030040741, 0.5981699824333191, 0.20...",None,None,None
3,3,"[-0.7327799797058105, -0.4715299904346466, 1.3...",None,None,None
4,4,"[-0.21326999366283417, 0.6362199783325195, -0....",None,None,None

In [20]:
import pandas as pd
# glove100_dataset["values"]

In [21]:
pc = Pinecone(api_key=PINECONE_API_KEY)
pc.create_index(
    name="glove100d",
    dimension=100,
    metric="cosine",
    # change later, serverless only available on AWS 
    # trying to start with some boilerplate code rn git commit -am ""
    spec=ServerlessSpec(
        cloud='aws', 
        region='us-west-2'
    ) 
) 

index = pc.Index("glove100d")

index.upsert_from_dataframe(glove100_dataset.drop(columns=["sparse_values","metadata","blob"]))

AttributeError: 'Dataset' object has no attribute 'drop'

In [27]:
pc.delete_index("glove100d")

In [24]:
glove100_dataset.documents

,id,values,sparse_values,metadata,blob
0,0,"[-0.11332999914884567, 0.4840199947357178, 0.0...",None,None,None
1,1,"[-0.9954400062561035, -2.3650999069213867, -0....",None,None,None
2,2,"[-0.1018500030040741, 0.5981699824333191, 0.20...",None,None,None
3,3,"[-0.7327799797058105, -0.4715299904346466, 1.3...",None,None,None
4,4,"[-0.21326999366283417, 0.6362199783325195, -0....",None,None,None
...,...,...,...,...,...
1183509,1183509,"[-0.6814000010490417, -0.09175600111484528, 0....",None,None,None
1183510,1183510,"[-0.9321900010108948, 1.7496000528335571, 1.11...",None,None,None
1183511,1183511,"[0.1764499992132187, -0.5494700074195862, -0.4...",None,None,None
1183512,1183512,"[0.731719970703125, 0.7275500297546387, -0.155...",None,None,None
1183513,1183513,"[0.6853200197219849, 0.4874800145626068, 0.355...",None,None,None

In [25]:
glove100_dataset.queries

,vector,sparse_vector,filter,top_k,blob
0,"[0.39552998542785645, 0.23048000037670135, 0.8...",None,None,100,"{'id': 'q_0', 'nearest_neighbors': ['97478', '..."
1,"[-0.4439600110054016, 0.7130100131034851, -0.5...",None,None,100,"{'id': 'q_1', 'nearest_neighbors': ['875925', ..."
2,"[-0.10801000148057938, -0.48462000489234924, -...",None,None,100,"{'id': 'q_2', 'nearest_neighbors': ['1046944',..."
3,"[-0.4947899878025055, -0.6380100250244141, -0....",None,None,100,"{'id': 'q_3', 'nearest_neighbors': ['1161354',..."
4,"[-0.2021300047636032, -1.5379999876022339, 1.5...",None,None,100,"{'id': 'q_4', 'nearest_neighbors': ['764146', ..."
...,...,...,...,...,...
9995,"[0.07249099761247635, 0.008553500287234783, 1....",None,None,100,"{'id': 'q_9995', 'nearest_neighbors': ['41487'..."
9996,"[-0.8401600122451782, -0.22877000272274017, -0...",None,None,100,"{'id': 'q_9996', 'nearest_neighbors': ['61311'..."
9997,"[0.42010998725891113, 1.6354999542236328, -0.8...",None,None,100,"{'id': 'q_9997', 'nearest_neighbors': ['110831..."
9998,"[1.6872999668121338, 1.3033000230789185, 0.747...",None,None,100,"{'id': 'q_9998', 'nearest_neighbors': ['214774..."
9999,"[0.39868998527526855, -0.4841200113296509, 0.3...",None,None,100,"{'id': 'q_9999', 'nearest_neighbors': ['423309..."